<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title> TMS </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='styles\css\style.css'>
    <link rel="stylesheet" href="styles\css\bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  </head>
<body >
  <div >
    <nav class="navbar navbar-collapse navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto navbar-right">
              <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('hello') }}">Home page <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('hello') }}">VNS </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('hello') }}">B&B</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hello') }}">Clark and wright</a>
            </li>
            
          </ul>
      </div>
        </nav> 
        
  </div>

  
  <div class="row">
    <div class="container " >
    <img  src="{{url_for('static', filename='image.jpg')}}"  />
    
    <h2 >Veuillez insérer l'algorithme que vous souhaitez appliquer: </h2>  
    <form action='/page2' method='POST' id='submitform' enctype="multipart/form-data" >
      <input type='text', placeholder='algorithme'  name='algorithm' value='al'>
      <button type="submit" class="btn btn-success">choisir</button>
    </form>
   <p>Liste des algorithmes possibles:</p> 
   <ul>
     <li>BB: Branch and Bound</li>
     <Li>CW: clark and wright</Li>
     <li>VNS: Variable neighborhood search</li>
    
    </ul>

  </div>
</div>

<!-- Footer -->

<footer class=" page-footer font-small  bg-dark">

  <!-- Copyright -->
  <div style="color:white" class="footer-copyright text-center py-3 ">© 2020 Copyright
    
  <!-- Copyright -->

</footer>
<!-- Footer -->
   <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</body>

    
</html>